/* Syllabus.css */

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body {
    background-color: #f2f2f26a;
}

.containers {
    background: linear-gradient(45deg, #9395a2, #228b7b);
    padding: 20px 9%;
    padding-bottom: 100px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.containers .heading {
    text-align: center;
    padding-bottom: 15px;
    color: #000000;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.box-containers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
    gap: 35px;
    justify-items: center;
    margin-top: 80px;
}

.box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 8px;
    background: #ffffffe1;
    text-align: center;
    padding: 25px 25px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    margin: 10px;
}

.btn:hover {
    background-color: #4b0082;
}

@media (max-width: 768px) {
    .containerss {
        padding: 20px;
    }
}
